# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
nn_env/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Jupyter config
.jupyter/

# OS files
.DS_Store
Thumbs.db

# Logs and cache
*.log
*.sqlite
*.db
*.pickle
*.pkl
*.h5

# IDEs
.vscode/
.idea/
